# Enter this command to create a sudoers override/include file:
# sudo visudo -f /etc/sudoers.d/nginx.overrides

# (Make sure you actually have this in your /etc/sudoers - Run `sudo visudo` to check)
# #includedir /etc/sudoers.d

# This file assumes your deployment user is `le`

# Nginx Commands
Cmnd_Alias NGINX_RESTART = /usr/sbin/service nginx restart
Cmnd_Alias NGINX_RELOAD  = /usr/sbin/service nginx reload
Cmnd_Alias NGINX_RELOAD_SYSTEMCTL  = systemctl reload nginx.service

# No-Password Commands
le ALL=NOPASSWD: NGINX_RESTART, NGINX_RELOAD, NGINX_RELOAD_SYSTEMCTL
